.background {
  top: 0;
  background: #0c0c0c;
  background-size: 100% 100%;
  min-height: 100vh;
}

.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.25s ease;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 3rem);
  margin-left: 3rem;
}

.body-md-screen {
  width: calc(100% - 20rem);
  margin-left: 20rem;
}
