<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <span class="lnr lnr-menu"></span>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <button class="btn-close" (click)="closeSidenav()">
        <i class="lnr lnr-cross"></i>
      </button>
    }
  </div>
  <div class="sidenav-nav">
    @if (!isUserAuthenticated()) {
      @for (item of itemsWhenNotLoggedIn; track $index) {
        <li class="sidenav-nav-item">
          <a class="sidenav-nav-link"
             [routerLink]="item.routeLink"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
            <i class="sidenav-link-icon" [class]="item.icon"></i>
            @if (!isLeftSidebarCollapsed()) {
              <span class="sidenav-link-text">{{ item.label }}</span>
            }
          </a>
        </li>
      }


    } @else {

      @for (item of itemsWhenLoggedIn; track $index) {
        <li class="sidenav-nav-item">
          <a class="sidenav-nav-link"
             [routerLink]="item.routeLink"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
            <i class="sidenav-link-icon" [class]="item.icon"></i>
            @if (!isLeftSidebarCollapsed()) {
              <span class="sidenav-link-text">{{ item.label }}</span>
            }
          </a>
        </li>

      }

      @if (!isLeftSidebarCollapsed()) {
        <app-files></app-files>
      }
    }

  </div>
</div>
