<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <span class="lnr lnr-menu"></span>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <button class="btn-close" (click)="closeSidenav()">
        <i class="lnr lnr-cross"></i>
      </button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link"
           [routerLink]="item.routeLink"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }

    @if (!isLeftSidebarCollapsed()) {
      <div class="search-bar">
        <form [formGroup]="searchFolderForm" (ngSubmit)="onSearchSubmit()">
          <input type="text" formControlName="name">
        </form>
      </div>


      @for (folder of folders; track folder.id) {
        <li class="sidenav-nav-file">
          <a class="sidenav-nav-link"
             [routerLink]="'todo'"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
            <i class="sidenav-link-icon lnr lnr-chevron-right"></i>
            <span class="sidenav-link-text">{{ folder.name }}</span>
          </a>

          <div class="child-folder">
            @for (childFolder of folder.folders; track childFolder.id) {
              <li class="sidenav-nav-file">
                <a class="sidenav-nav-link"
                   [routerLink]="'todo'"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}">
                  <i class="sidenav-link-icon lnr lnr-enter"></i>
                  <span class="sidenav-link-text">{{ childFolder.name }}</span>
                </a>
              </li>
            }

            @for (childFile of folder.files; track childFile.id) {
              <li class="sidenav-nav-file">
                <a class="sidenav-nav-link"
                   [routerLink]="'todo'"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}">
                  <i class="sidenav-link-icon lnr lnr-file-empty"></i>
                  <span class="sidenav-link-text">{{ childFile.name }}</span>
                </a>
              </li>

            }
          </div>
        </li>
      }
    }

  </div>
</div>
